/* DASHBOARD */
body {
   background: #F9D367;
   font-family: 'nunito', Helvetica, sans-serif;
   list-style-type: none;
 }
 a:link {
  text-decoration: none;
 }
 a:hover {
  text-decoration: none;
 }
 a:active {
  text-decoration: none;
 }
 a:visited {
  text-decoration: none;
 }
 /*js*/
 #left-nav, .settings-menu {
   height: 100%;
   width:280px;
   position:absolute;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(-280px,0);
     -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
     -o-transform: translate(-280px,0); /** Opera **/
     -moz-transform: translate(-280px,0); /** Firefox **/
 }
 #left-nav.open, .settings-menu.open {
   display:block;
   width:280px;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
     z-index: 100;
 }
 .hamburger {
   position:absolute;
   z-index: 1000;
   background:#34495E;
   color:#FFF;
   text-decoration: none;
   font-size: 22px;
   padding: 10px 15px;
   border-radius: 4px;
   left: 5px;
   top: 15px;
 }
  @media (min-width:992px) {
   #left-nav, .settings-menu {
     height: 100vh;
     width:14.66666667%;
     color:#FFFFFF;
     background: transparent;
     float:left;
     position: fixed;
     display:block;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   #left-nav.open, .settings-menu.open{
     width:14.66666667%;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .hamburger {
     display:none;
   }
 }
  /*Left-Nav*/

#top-nav {
  background-color: black;
  width: 350px;
  height: 150px;
  float: left;
  border-radius: 0px 0px 45px 0px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.22);
  position: fixed;
  z-index: 2;
}
.logo_box {
  float: left;
  padding: 10px 70px;
  margin: 5px;
  z-index: 999;
}
.logo-text {
  color: white;
  font-family: 'righteous', sans-serif;
  letter-spacing: 1px;
  font-size: 35px;
  z-index: 4;
  margin: -80px;
  padding: 0px 110px 0px 150px;
  text-decoration: none;
}
.logo_box a:link {
  color: white;
 }
.logo_box a:hover {
  color: #9CCA68;
 }
.logo_box a:active {
  color: black;
 }
.logo_box a:visited {
  color: white;
 }
  /*ACCOUNT TAB*/
.settings-menu {
   height: 80%;
   width:310px;
   color:#000;
   background: #fff;
   float:left;
   position: fixed;
   display:block;
   margin-top: 200px;
   border-radius: 0px 45px 45px 0px;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
   list-style-type: none;
 }
 .settings-drop {
  padding-top: 50px;
 }
 #top_label {
  font-size: 26px;
  font-weight: bolder;
 }
  #settings-drop {
  padding-top: 50px;
 }
 #settings-drop li {
  list-style-type: none;
  margin-top: 50px;
 }
.toggler i {
  font-size: 40px;
 }
 #top_label {
  color: black;
  text-align: center;
  padding-left: 10px;
  font-size: 28px;
  font-weight: bolder;
  list-style-type: none;
 }
 #top_label i {
  margin-top: 25px;
  padding-left: 20px;
  font-weight: 40px;
 }
 #bottom_label {
  padding-left: 20px;
  padding-top: ;
 }
 #bottom_label li, #items li{
  list-style-type: none;
 }
 #bottom_label i {
  font-size: 40px;
  padding-left: 10px;
 }
 .account-text {
  color: black;
  text-align: center;
  padding-left: 70px;
  font-size: 26px;
  font-weight: bolder;
  list-style-type: none;
 }
 .settings {
  font-size: 22px;
  font-weight: bolder;
 }
 .settings i {
  margin-top: 30px;
  padding-left: 20px;
  list-style-type: none;
  font-size: 40px;
 }
 #account-nav a:link {
  color: black;
 }
 #account-nav a:hover {
  color: #9CCA68;
 }
 #account-nav a:active {
  color: white;
 }
 #account-nav a:visited {
  color: black;
 }
  /* DASHBOARD TAB */
#dashboard-nav {
  height: 71%;
   width:350px;
   color:#fff;
   background: #9CCA68;
   float:left;
   position: fixed;
   display:block;
   margin-top: 390px;
   border-radius: 0px 0px 45px 0px;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
 }
 .top {
    height: 85px;
   width:350px;
   color:#fff;
   background: #81cff6;
   float:left;
   position: fixed;
   display:block;
   margin-top: -115px;
   border-radius: 0px 45px 0px 0px;
   padding-top: 30px;
   border-bottom: 5px solid #fff;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
 }
.dashboard-text {
  color: white;
  text-align: center;
  padding-left: 20px;
  font-size: 36px;
  margin-top: 50px;
}
.dashboard i {
  margin-top: 80px;
  font-size: 46px;
}
.top h1 i {
  font-size: 50px;
  padding-left: 15px;
}
.top h1 {
  margin: 0.25em -20px 50px 30px;
}
.top a:link {
  color: white;
 }
.top a:hover {
  color: #000;
 }
.top a:active {
  color: black;
 }
.top a:visited {
  color: white;
 }

  /**All Items**/
#items {
  font-size: 26px;
  padding-left: 40px;
  padding-top: 30px;
  line-height: 50px;
}
#items a:link {
  color: white;
 }
#items a:hover {
  color: #000;
 }
#items a:active {
  color: black;
 }
#items a:visited {
  color: white;
 }
.items li {
  list-style-type: none;
  margin-top: -10px;
}
.items i {
  font-size: 30px;
  letter-spacing: 5px;
}
  /* CONTENT */
#header {
  margin-left: 250px;
  width: 33%;
  text-align: center;
  font-size: 30px;
}
 #heading {
  margin-top: -20px ;
  padding-top: 30px;
}
  /*Search Bar*/
#searchbox
{
    background-color: #000;
    border-radius: 0 0 35px 35px;    
    border-width: 1px;
    border-style: solid;
    border-color: #000;            
    width: 300px;
    height: 100px;
    padding: 10px;
    float: right;
    position: fixed;
    overflow: hidden; /* Clear floats */
    margin: -174px -40em 0px 31em;
    border-top: 10px solid #fff;
}
button {
    background: #f1f1f1;
    border-radius: 20px 0px 0px 20px;
    height:45px;
    position:absolute;
    left:25px;
    top:48.95px;
    width:45px;
    border-style: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}

#active a
{
display: block;
color: #FFF;
background-color: #600;
width: 8.8em;
padding: .2em .8em;
text-decoration: none;
box-shadow: 0 3px 3px #333333;
}

#search {
    padding: 8px 15px;
    height: 26px;
    width: 200px;
    margin-top: 40px;
    margin-left: 25px;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 0 50px 50px 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}
#welcome {
  margin: 40px auto;
  width: 500px;
  font-size: 38px;
  font-weight: bold;
}
.new-users p {
  text-align: center;
  margin-top: 100px;
}
/*Drag n Drop*/
.drag-box {
  background-color: white;
  width: 800px;
  height: 550px;
  border-radius: 50px;
  margin: 0px auto;
  font-size: 38px;
  color: #ababab;
  padding-top: 50px;
  line-height: 50px;
}
.drag-box li{
  list-style-type: none;
  text-align: center;
  margin-right: 45px;
}
.image-icon {
  font-size: 6.5em;
  text-align: center;
  margin-top: -20px;
  margin-bottom: -40px;
}
.add-button {
  text-align: center;
  font-size: 3em;
  margin-top: -20px;
}
.drag-box a:link {
  color: black;
 }
 .drag-box a:hover {
  color: #9CCA68;
 }
 .drag-box a:active {
  color: white;
 }
 .drag-box a:visited {
  color: black;
 }
 .drag-n-drop {
  font-weight: bolder;
  font-size: 42px;
 }
 /*drop downmenu add btn */

.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:300px;
    position: relative;
    margin: 20em 60em;
    height: 200px;
}
.add-button p {
  font-size: 72px;
  text-align: center;
  margin: -500px -80px;
}
.add-button li i {
  font-size: 32px;
}
.menu {
    width:1000px;
    margin:0px auto;
}
 
.menu li {
    margin:0px auto;
    list-style:none;
    font-size: 72px;
}
 
.menu a {
    transition:all linear 0.15s;
    color:#919191;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
    margin: 0 20px;
}
 
.menu > ul > li > a {
    padding:0px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
    font-size: 36px;
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
    background: black;
    opacity: .8;
}
 
.sub-menu {
    width:300px;
    height: 450px;
    padding:15px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#000;
    margin-top: -38em;
}
.sub-menu i {
  padding-right: 10px;
}
.sub-menu li {
    display:inline-block;
    font-size:32px;
    color: white;
    width: 300px;
    padding: 30px 15px;
    padding-right: 35px;
}
 
.sub-menu li a {
    display:inline-block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    color: #9CCA68;
}
.drop-down a:link {
  color: white;
 }

.drop-down a:hover {
  color: #9CCA68;
 }

.drop-down a:active {
  color: white;
 }

.drop-down a:visited {
  color: white;
 }

/* ----------------------- */

/* Larger Mobile Devices */
 @media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
 }
/* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
 }
/* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
 }
/*** JS FOR DROPDOWN MENU ***/
.settings-menu li, .settings-menu a {zoom:1;} /* Hacks for IE6, IE7 */
.settings-menu, #.settings-menuul
{
    width: 180px; /* Main Menu Item widths */
    border: 1px solid #ccc;
    border-top:none;
    position: relative; font-size:0;
    list-style: none; margin: 0; padding: 0; display:block;
    z-index:9;
    font-size: 22px;
}
                
/* Top level menu links style
---------------------------------------*/

#settings-menu li
{
    background: #FFF url(bg.gif) repeat-x 0 2px;
    list-style: none; margin: 0; padding: 0;
}
#settings-menu li a
{
    font: normal 12px Arial;
    border-top: 1px solid #ccc;
    display: block;
    /*overflow: auto; force hasLayout in IE7 */
    color: black;
    text-decoration: none;
    line-height:26px;
    padding-left:26px;            
}
#settings-menu ul li a
{
    line-height:30px;
}
                
#settings-menu li a.arrow:hover
{
    background-image:url(arrowon.gif);
    background-repeat: no-repeat;
    background-position: 97% 50%;
}
        
/*Sub level menu items
---------------------------------------*/
#settings-menu li ul
{
    position: absolute;
    width: 200px; /*Sub Menu Items width */
    visibility:hidden;
}
        
#settings-menu a.arrow
{
    background-image:url(arrow.gif);
    background-repeat: no-repeat;
    background-position: 97% 50%;
}
#settings-menu li:hover, #settings-menu li.onhover
{
    background-position:0 -62px;
}
#settings-menu ul li
{
    background: rgba(255, 255, 255, 0.86);
    background-image:none;
}
#settings-menu ul li:hover, #settings-menu ul li.onhover
{
    background: #FFF;
    background-image:none;
}
        
menu-wrap {
    width:300px;
    position: relative;
    margin: 20em 60em;
    height: 200px;
}
.add-button p {
  font-size: 72px;
  text-align: center;
  margin: -500px -80px;
}
.add-button li i {
  font-size: 32px;
}
.menu {
    width:1000px;
    margin:0px auto;
}
 
.menu li {
    margin:0px auto;
    list-style:none;
    font-size: 72px;
}
 
.menu a {
    transition:all linear 0.15s;
    color:#919191;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
    margin: 0 20px;
}
 
.menu > ul > li > a {
    padding:0px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
    font-size: 36px;
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
    background: black;
    opacity: .8;
}
 
.sub-menu {
    width:300px;
    height: 450px;
    padding:15px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#000;
    margin-top: -38em;
}
.sub-menu i {
  padding-right: 10px;
}
.sub-menu li {
    display:inline-block;
    font-size:32px;
    color: white;
    width: 300px;
    padding: 30px 15px;
    padding-right: 35px;
}
 
.sub-menu li a {
    display:inline-block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    color: #9CCA68;
}
.drop-down a:link {
  color: white;
 }

.drop-down a:hover {
  color: #9CCA68;
 }

.drop-down a:active {
  color: white;
 }

.drop-down a:visited {
  color: white;
 }
